*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#top-hero-section{
    background: url(../images/hero-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.top-hero-section::before{
content:"" ;
background: rgba(255,255, 255,0.8);
position:absolute

}

.text-primary{
    color: #124265 ! important;
} */

.btn-primary{
background-color: #124265 ! important;
}

#count-section{
    background-color: #f8fbfe;
}

#count-section .count-box h2{
    font-size: 48px;
    font-weight: 700;
}

#parners-section img{
    max-width:48% ;
    filter: grayscale(100);
    transition: all 0.4s ease-in-out;
}

#parners-section img:hover{
    filter: grayscale(0);
    transform: scale(1.15);
}

/* .testimoney-person{
    text-align: center;
} */

.testimoney-person img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

/* .swiper-pagination{
    margin-top: auto;
} */

.swiper {
    width: 100%;
    height: 300px;
  }

  .icon-section{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  } 

  .icon-section svg{
    position:absolute;
    top: 0;
    left: 0;
    z-index: 2;

  }

  .icon-section i{
    z-index: 10;
  }